<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof meta !== 'undefined' && meta.title ? meta.title : 'Error loading title' %></title>
    <meta name="description" content="<%= typeof meta !== 'undefined' && meta.description ? meta.description : 'Default description' %>">
    <meta name="keywords" content="<%= typeof meta !== 'undefined' && meta.keywords ? meta.keywords : 'default, keywords' %>">
    <meta name="author" content="<%= typeof meta !== 'undefined' && meta.author ? meta.author : 'Piecom' %>">
    <meta name="robots" content="<%= typeof meta !== 'undefined' && meta.robots ? meta.robots : 'index, follow' %>">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Piecom" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="theme-color" content="#3aafa9">
</head>
<body>
    <main>
        <%- body %>
    </main>
</body>
</html>